:root {
  --variable-collection-dark-blue: rgba(0, 0, 57, 1);
  --variable-collection-blue: rgba(0, 1, 101, 1);
  --variable-collection-TXT-blue: rgba(5, 5, 60, 1);
  --variable-collection-yellow: rgba(248, 195, 58, 1);
  --variable-collection-light-blue: rgba(179, 228, 254, 1);
  --variable-collection-pink: rgba(249, 231, 252, 1);
}
