.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.desktop .navi {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  gap: 10px 10px;
  padding: 0px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-dark-blue);
}

.desktop .navbar {
  display: inline-flex;
  align-items: center;
  gap: 37px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .header {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-dark-blue);
}

.desktop .IMG {
  flex: 1;
  flex-grow: 1;
  height: 500px;
  background-image: url(./img/img.png);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .COPY {
  flex-direction: column;
  height: 500px;
  gap: 43px;
  padding: 20px 120px 0px 60px;
  flex: 1;
  flex-grow: 1;
  background-color: var(--variable-collection-blue);
  display: flex;
  align-items: center;
  position: relative;
}

.desktop .HL {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px 10px;
  padding: 100px 0px 0px;
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .div {
  position: relative;
  width: 540px;
  height: 90px;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tak-e-tych-bezp {
  position: relative;
  width: 570px;
  margin-left: -540px;
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
}

.desktop .CTA {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-yellow);
  border-radius: 1000px;
  overflow: hidden;
}

.desktop .informacje-o {
  position: relative;
  width: 368px;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Heavy", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-TXT-blue);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .arrow {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 3px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .image {
  position: relative;
  width: 14.54px;
  height: 17.16px;
}

.desktop .section {
  padding: 40px 120px 60px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .czym-jest-RSV-wrapper {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px 10px;
  flex: 0 0 auto;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .czym-jest-RSV {
  position: relative;
  width: 336px;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .copy {
  flex-wrap: wrap;
  height: 207px;
  justify-content: space-between;
  gap: 40px 40px;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}

.desktop .separator {
  position: relative;
  width: 30px;
  height: 122px;
}

.desktop .icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 109px;
  position: relative;
}

.desktop .ICON {
  height: 121.16px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
  width: 109px;
  position: relative;
}

.desktop .vector {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 45px;
  left: 39px;
}

.desktop .TXT {
  display: flex;
  width: 997px;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  position: relative;
}

.desktop .RSV-to-powszechny-i {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .kto-jest-w-grupie-wrapper {
  flex-wrap: wrap;
  height: 93px;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  padding: 0px 120px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .kto-jest-w-grupie {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .boxes {
  flex-wrap: wrap;
  width: 1200px;
  height: 272px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0px 10px;
  background-color: #ffffff;
  display: flex;
  position: relative;
}

.desktop .box {
  flex-direction: column;
  width: 290px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-self: stretch;
  display: flex;
  position: relative;
}

.desktop .element {
  position: relative;
  width: 330px;
  height: 120px;
  margin-left: -20.00px;
  margin-right: -20.00px;
}

.desktop .div-wrapper {
  display: flex;
  width: 212px;
  justify-content: space-around;
  gap: 10px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.desktop .seniorzy-powy-ej {
  position: relative;
  flex: 1;
  height: 48px;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Heavy", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .element-wrapper {
  display: flex;
  width: 330px;
  height: 120px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-left: -20.00px;
  margin-right: -20.00px;
}

.desktop .overlap-group-wrapper {
  position: relative;
  width: 104px;
  height: 107px;
}

.desktop .overlap-group {
  position: relative;
  height: 107px;
}

.desktop .img {
  position: absolute;
  width: 30px;
  height: 12px;
  top: 42px;
  left: 37px;
}

.desktop .vector-2 {
  position: absolute;
  width: 104px;
  height: 88px;
  top: 19px;
  left: 0;
}

.desktop .vector-3 {
  position: absolute;
  width: 38px;
  height: 44px;
  top: 0;
  left: 33px;
}

.desktop .TXT-2 {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.desktop .text-wrapper-2 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Heavy", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .element-2 {
  position: relative;
  width: 102px;
  height: 107px;
  background-image: url(./img/vector-5.svg);
  background-size: 100% 100%;
}

.desktop .element-3 {
  display: flex;
  width: 90px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  height: 120px;
  position: relative;
}

.desktop .element-4 {
  width: 82px;
  height: 120px;
  position: relative;
}

.desktop .vector-4 {
  position: absolute;
  width: 82px;
  height: 61px;
  top: 59px;
  left: 0;
}

.desktop .vector-5 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 13px;
}

.desktop .section-2 {
  height: 747px;
  gap: 60px;
  padding: 40px 120px;
  background-color: var(--variable-collection-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .HL-2 {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .RSV-a {
  position: relative;
  width: 336px;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-style: italic;
  color: #b3e4fe;
}

.desktop .text-wrapper-4 {
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-style: italic;
  color: #ffffff;
}

.desktop .p {
  position: relative;
  width: 844px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .boxes-2 {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 60px 60px;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.desktop .left {
  display: flex;
  flex-direction: column;
  width: 589px;
  align-items: flex-start;
  gap: 60px;
  position: relative;
}

.desktop .box-2 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  padding: 0px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .frame {
  position: relative;
  flex: 0 0 auto;
}

.desktop .frame-2 {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.desktop .text-wrapper-5 {
  width: 120px;
  position: relative;
  height: 43px;
  margin-top: -1.00px;
  font-family: "Pfizer Tomorrow-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-light-blue);
  font-size: 56px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .div-2 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .text-wrapper-6 {
  font-weight: 700;
}

.desktop .text-wrapper-7 {
  font-family: "Pfizer Diatype-Regular", Helvetica;
}

.desktop .text-wrapper-8 {
  width: 152px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  position: relative;
  height: 43px;
  margin-top: -1.00px;
  font-family: "Pfizer Tomorrow-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-light-blue);
  font-size: 56px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .text-wrapper-9 {
  width: 160px;
  margin-left: -5.00px;
  margin-right: -5.00px;
  position: relative;
  height: 43px;
  margin-top: -1.00px;
  font-family: "Pfizer Tomorrow-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-light-blue);
  font-size: 56px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .box-3 {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  padding: 0px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .layer-wrapper {
  position: relative;
  width: 98px;
  height: 100px;
}

.desktop .layer {
  position: relative;
  height: 100px;
  background-image: url(./img/vector-8.svg);
  background-size: 100% 100%;
}

.desktop .vector-6 {
  position: absolute;
  width: 36px;
  height: 46px;
  top: 31px;
  left: 28px;
}

.desktop .section-3 {
  gap: 70px;
  padding: 40px 120px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .HL-3 {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: var(--variable-collection-TXT-blue);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .div-3 {
  position: relative;
  width: 385px;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-TXT-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .HL-wrapper {
  height: 746px;
  gap: 70px;
  padding: 40px 120px;
  background-color: var(--variable-collection-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .HL-4 {
  flex-direction: column;
  height: 655px;
  align-items: center;
  gap: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .hospitalizacja-cho {
  position: relative;
  align-self: stretch;
  height: 533px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-TXT-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .szczepionka-zalecana {
  position: relative;
  width: 844px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-TXT-blue);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .photo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .IMG-2 {
  width: 584px;
  height: 339px;
  background-image: url(./img/img-1.png);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .copy-2 {
  padding: 0px 0px 0px 60px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.desktop .text-wrapper-11 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-TXT-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .IMG-3 {
  width: 584px;
  height: 339px;
  background-image: url(./img/img-2.png);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .kobiety-w-ci-y {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-TXT-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .section-4 {
  gap: 20px;
  padding: 40px 120px;
  flex: 0 0 auto;
  background-color: var(--variable-collection-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .div-4 {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-HeavyItalic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: var(--variable-collection-light-blue);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .TXT-3 {
  display: inline-flex;
  justify-content: center;
  gap: 60px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.desktop .zadbaj-o-swoje {
  position: relative;
  width: 518px;
  height: 193px;
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .OK {
  position: relative;
  width: 336px;
  height: 293px;
  background-image: url(./img/vector-10.svg);
  background-size: 100% 100%;
}

.desktop .section-5 {
  gap: 60px;
  padding: 40px 120px 80px;
  flex: 0 0 auto;
  background-color: var(--variable-collection-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .div-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  font-family: "Pfizer Diatype-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
}

.desktop .text-wrapper-14 {
  font-family: "Pfizer Diatype-Bold", Helvetica;
  font-weight: 700;
}
